/* RESPONSIVE VORTEILSTARIFE WEBSITE */
@media screen and (max-width: 475px) {
    #bestellen .inline-path.cell-20 {
        display: block;
        padding-left: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 609px) {
    #homeSecond .back-infocell {
        margin-bottom: 25px;
    }

    #homeSecond .back-infocellbig {
        width: 100%;
    }

    #homeSecond .back-infocellsmall {
        width: 100%;
    }

    #bestellen .row-box.off {
        padding-left: 15px;
        padding-right: 0;
    }

    #bestellen .row-box.off.iban-konto {
        max-width: 290px;
    }

    #bestellen .back-infocellsmall {
        width: 100%;
    }

    #bestellen .back-infocellbig {
        width: 100%;
    }

    #bestellen .second-data .back-infocellsmall,
    #bestellen .second-data .back-infocellxsmall {
        width: 100%;
    }

    #bestellen .second-data .back-infocellbig {
        width: 100%;
    }

    #bestellen .back-infocellkonto {
        width: 100%;
    }

    #bestellen .back-infocellblz {
        width: 100%;
    }

    #bestellen .mbit-speed {
        display: block;
        margin: auto;
        text-align: left;
        margin-top: 10px;
    }

    #bestellen .mbit-dropdown {
        left: 0;
    }

    #confirmation .back-infocellsmall {
        width: 100%;
    }

    #confirmation .back-infocellbig {
        width: 100%;
    }

    #confirmation .second-data .back-infocellbig {
        width: 100%;
    }

    #confirmation .back-infocell {
        width: 100%;
    }

    #confirmation .back-infocell {
        margin-bottom: 25px;
    }

    #confirmation textarea {
        font-size: 12px;
        min-height: 105px;
    }
}

@media screen and (min-width: 610px) and (max-width: 767px) {
    #homeSecond .row.mrg-rowbt {
        width: 465px;
        margin: 20px auto;
    }

    #homeSecond .back-infocell.top {
        margin-top: 15px;
    }

    #bestellen .back-infocellbig {
        width: 225px;
    }

    #bestellen .mrg-btn {
        margin-left: 30px;
    }

    #bestellen .bestellen-btnorder {
        padding: 3px 22px;
    }

    #bestellen #personal-data {
        margin-right: 0;
    }

    #bestellen #side-prices {
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        padding: 10px;
        margin-left: 34px;
    }

    #bestellen .second-data .email-cell {
        width: 220px;
    }

    #bestellen .second-data .phone-cell {
        width: 110px;
    }

    #bestellen .second-data .personal-cell {
        width: 150px;
    }

    #confirmation .second-data .back-infocell.respo {
        width: 150px;
    }

    #bestellen .second-data .phone-cell.phone-cell-short {
        width: 66px;
    }

}

@media screen and (min-width: 767px) {
    .popover-img {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .popover-content a {
        text-decoration: underline;
        color: #333333;
    }

    .popover-img {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1061;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, .95);
        padding: 25px;
        text-align: center;
    }

    .popover.fade.bottom.in {
        opacity: .95;
    }

    .popover {
        position: fixed;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        border-radius: 0 !important;
        outline: 0 !important;
        max-width: 100% !important;
        box-shadow: none;
        border: none;
        background-color: #ffffff;
        font-family: 'Vodafone-Rg';
        color: #333333;
        width: 100%;
        overflow-y: auto;
    }

    .popover-content {
        padding: 100px 50px;
        font-size: 18px;
    }

    .popover.bottom>.arrow,
    .popover.right>.arrow {
        display: none;
    }

    #header .nav-btnorder {
        display: inline-block;
        background-color: #9C2AA0;
        color: #ffffff;
        vertical-align: middle;
        font-size: 12px;
        padding: 5px 25px;
        border-radius: 4px;
        margin-right: 0;
        cursor: pointer;
    }

    #homeFirst .homefirst-table {
        display: block;
        width: 100%;
    }

    #homeFirst .homefirst-row {
        display: block;
        width: 100%;
        text-align: center;
    }

    #homeFirst .background-packageinfo {
        font-size: 18px;
    }

    #homeFirst .homefirst-table .homefirst-row:last-child {
        display: block;
        width: 100%;
        text-align: left;
    }

    #homeFirst .homefirst-cell {
        display: block;
        width: 100%;
    }

    #homeFirst .homefirst-table .homefirst-row .homefirst-cell:first-child {
        display: block;
        width: 100%;
        text-align: center;
    }

    #homeFirst .price-path {
        position: relative;
        display: inline-block;
        left: -25px;
    }

    #homeFirst .default-lightgrey.font-14.default-light.mrg-t {
        margin-bottom: 20px;
    }

    #homeFirst .mbit-dropdown {
        right: 0;
    }

    #homeFourth .fourth-container div {
        text-align: center;
    }

    #homeFourth .fourth-container .mrg-tb60 {
        margin: 60px 0;
    }

    #bestellen .bestellen-btnorder {
        padding: 3px 20px;
    }

    #bestellen #personal-data {
        margin-right: 0;
        margin-bottom: 15px;
    }

    #bestellen #side-prices {
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        padding: 10px;
        margin-left: 0px;
        margin-top: 15px;
        width: 100%;
        margin: auto;
        max-width: 260px;
    }

    #bestellen .mrg-btn {
        margin-left: 0;
    }

    #bestellen .clear-both {
        clear: both;
    }

    .modals-background .x-close {
        position: absolute;
        right: 20px;
        cursor: pointer;
    }

    .m-info-sparen .x-close {
        position: absolute;
        right: 20px;
        cursor: pointer;
    }

    .modals-all {
        padding: 70px 0px;
    }

    #bestellen .padd-l60 {
        padding-left: 0;
    }

    #bestellen .padd-bt20.top {
        padding-top: 20px;
    }

    #bestellen .checkbox-table.i-tv {
        width: 100%;
        float: left;
    }

    #bestellen .checkbox-table.i-tv {
        width: 100%;
        float: left;
    }

    #bestellen .checkbox-table.auto.second .cell-50.top {
        padding-left: 35px;
        padding-top: 25px;
    }

    #bestellen .checkbox-table.auto.second {
        width: 100%;
        float: none;
    }

    #bestellen .checkbox-table.auto .cell-235 {
        width: auto;
    }

    #bestellen .checkbox-table.auto.second .cell-30.top {
        padding-left: 55px;
        padding-top: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #homeSecond .back-infocellbig {
        width: 230px;
    }

    #homeFourth .padd-50 {
        padding-left: 50px;
    }

    .container-fluid {
        padding: 0;
    }

    #bestellen .bestellen-btnorder {
        padding: 3px 20px;
    }

    #bestellen #personal-data {
        margin-right: 0;
        margin-bottom: 15px;
    }

    #bestellen #side-prices {
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        padding: 10px;
        margin-left: 0px;
        margin-top: 15px;
        width: 100%;
        margin: auto;
        max-width: 260px;
    }

    #bestellen .second-data .back-infocellbig {
        width: 235px;
    }

    #confirmation .second-data .back-infocell.respo {
        width: 150px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #homeSecond .row.mrg-rowbt {
        margin-left: 25px;
    }

    #bestellen .back-infocellbig {
        width: 225px;
    }

    #bestellen .mrg-btn {
        margin-left: 30px;
    }

    #bestellen .bestellen-btnorder {
        padding: 3px 22px;
    }

    #bestellen #personal-data {
        margin-right: 0;
    }

    #bestellen #side-prices {
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        padding: 10px;
        margin-left: 34px;
    }

    #bestellen .second-data .email-cell {
        width: 220px;
    }

    #bestellen .second-data .phone-cell {
        width: 110px;
    }

    #bestellen .second-data .phone-cell.phone-cell-short {
        width: 66px;
    }

    #bestellen .second-data .personal-cell {
        width: 190px;
    }

    #bestellen .padd-l60 {
        padding-left: 0;
    }

    #bestellen .padd-bt20.top {
        padding-top: 20px;
    }

    #bestellen .checkbox-table.i-tv {
        width: auto;
        float: left;
    }

    #bestellen .checkbox-table.i-tv {
        width: auto;
        float: left;
    }

    #bestellen .checkbox-table.flats {
        max-width: 240px;
    }

    #bestellen .cell-270 {
        width: 270px;
    }
}

@media screen and (min-width: 1200px) {
    #homeSecond .row.mrg-rowbt {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1199px) {
    .column_left {
        width: 25%;
    }
}

@media screen and (max-width: 767px) {
    .hero-price-container {
        margin-left: auto;
        margin-right: auto;
    }

    .product-information {
        display: block;
        margin: 0 auto;
    }

    .mobile-sim-heading {
        margin-top: 16px;
    }
}

@media screen and (max-width: 645px) {
    .column_left {
        width: 31%;
    }
}


@media screen and (max-width: 1199px) {
    .column_left {
        width: 25%;
    }
}

@media screen and (max-width: 376px) {
    #homeFirst .mdata-dropdown {
        width: 245px;
    }

    #homeFirst .mdata-dropdown {
        right: -20px;
    }

    .modals-background .side-tablerow .side-tablecell {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .modals-background .x-close {
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        top: auto;
        margin: auto;
        background-color: rgba(244,244,244,.94);
        padding: 16px 24px 20px 16px;
        text-align: center;
    }

    .modals-background .modals-all .box-group .modal-box:last-child {
        padding-bottom: 100px;
    }

    .m-info-sparen .x-close {
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        top: auto;
        margin: auto;
        background-color: #fff;
        padding: 12px;
        text-align: center;
    }

    .box-group {
        padding: 0;
    }

    .modals-background .box-grey {
        max-height: 100px;
        min-height: 100px;
    }

    .modals-background .box-red {
        max-height: 100px;
        min-height: 100px;
    }
}

@media only screen and (max-width: 991px) {
    .splashscreen-template .pm-zero {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    .splashscreen-template .align-self-center {
        align-self: flex-start !important;
    }

    .splashscreen-template .h-100 {
        height: auto !important;
    }

    .splashscreen-template .p-side-left {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px;
    }

    .m-info-sparen .desk-i {
        display: none !important;
    }

    .m-info-sparen .resp-i {
        display: block !important;
    }

    .m-info-sparen .sparen {
        width: 100%;
    }

    .m-info-sparen .col-sparen {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-info-sparen .row {
        display: block;
    }

    .kombi-heading {
        font-size: 15px;
        padding: 9px;
    }
}

@media screen and (max-width: 450px) {

    .sale-percent {
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
    }

    .sale-text {
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
    }

    .sale-icon {
        margin-left: 8px;
        margin-bottom: 3px;
    }

    .price-container {
        margin-top: 16px;
    }

    .kombi-heading {
        font-size: 14px;
        padding: 9px;
    }

    .hero-price-container {
        margin-top: 76px;
    }

    .gk-image {
        padding: 1px;
        margin-top: 20px;
    }

    .hero-price-wraper {
        padding: 16px;
    }
}

@media only screen and (max-width: 355px) {
    .hero-price-container {
        width: 300px;
    }

    .kombi-heading {
        font-size: 12px;
        padding: 11px;
    }

    .home-btnorder {
        min-width: 124px;
        font-size: 12px;
    }

    .product-save {
        width: 280px;
    }

    .modals-background .side-tableback {
        max-width: 315px;
    }
}

@media screen and (max-width: 370px) {
    .kombi-heading {
        font-size: 13px;
        padding: 10px;
        margin: 40px 0 16px 0;
    }
}

@media screen and (max-width: 336px) {
    .kombi-heading {
        font-size: 12px;
        padding: 11px;
    }
}

@media screen and (max-width: 319px) {
    .kombi-heading {
        font-size: 11px;
        padding: 12px;
    }
}

/* iphone5 */

@media only screen and (max-width: 320px) {
    .hero-price-container {
        width: 280px;
    }

    .kombi-heading {
        font-size: 12px;
        padding: 11px;
    }

    .home-btnorder {
        min-width: 124px;
        font-size: 12px;
    }

    .product-save {
        width: 280px;
    }

    .grid-container-2 {
        grid-gap: 24px;
    }
}

@media only screen and (max-width: 300px) {
    .hero-price-container {
        width: 250px;
    }

    .kombi-heading {
        font-size: 12px;
        padding: 11px;
    }

    .home-btnorder {
        min-width: 110px;
        font-size: 11px;
    }

    .product-save {
        width: 250px;
    }

    .hero-footer-price {
        font-size: 15px;
    }

    #homeFirst .giga-btn {
        min-width: 230px;
    }
}

@media screen and (max-width: 620px) {
    #homeFirst .giga-btn {
        min-width: 327px;
    }
}

@media only screen and (max-width: 400px) {
    #homeFirst .giga-btn {
        min-width: 270px;
    }
}

@media screen and (max-width: 360px) {
    #homeFirst .giga-btn {
        min-width: 240px;
    }
}

@media screen and (max-width: 320px) {
    #homeFirst .giga-btn {
        min-width: 200px;
    }
}